:root {
    --color-1: #01aae3;
    --color-2: #016fb0;
    --color-3: #004db4;
    --color-4: #999999;
    --color-5: #00a030;
}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
html, body {
    height: 100%;
    background-color: var(--color-1);
}
header .flex img {
    width: 50px;
    height: 50px;
}
header .flex {
    width: 100%;
    position: fixed;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0000002d;
    transition: .3s all ease-in-out;
}
header .rede {  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
    color: #fff;
    gap: 50px;
    z-index: 2;
}
header .flex ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 50px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: .2s all ease-in-out;
}
.nav-list li a:hover {
    color: var(--color-5);
    opacity: .7;
}
i {
    color: #fff;
    font-size: 25px;
    z-index: 3;
    cursor: pointer;
}
i:hover {
    color: var(--color-5);

}
#home {
    background-image: url(../static/images/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;  
}
.bg1 {
    background-image: url(../static/images/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    background-attachment: fixed;  
}
.bg2 {
    background-image: url(../static/images/8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    background-attachment: fixed;  
}
::-webkit-scrollbar {
    width: 8px;
    color: var(--color-4);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-2);
    width: 8px;
    border-radius: 20px;
}
.main {
    width: 85%;
    padding-top: 75px;
    padding-bottom: 50px;
    margin: 0 auto;
}
header .newheader {
    background-color: var(--color-3);
    height: 7vh;
    box-shadow: 0 10px 10px #00000099;
}
.mobile {
    display: none;
    cursor: pointer;
}
.mobile i{
    color: #fff;
}
@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 94vh;
        background-color: var(--color-3);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: .3s all ease-in-out;
    }
    header .flex{
        background-color: var(--color-3);
        height: 7vh;
        box-shadow: 0 10px 10px #00000099;
        justify-content: space-around;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }
    .mobile {
        position: fixed;
        display: block;
        z-index: 20;
        top: 10px;
        right: 10px;
    }
    #home {
        background-image: url(../static/images/bg-mobile.png);
    }
    .bg1 {
        background-image: url(../static/images/2-mobile.png);
    }
    .bg2 {
        background-image: url(../static/images/1-mobile.png);
    }
    #carrossel {
        display: none;
    }
}
.nav-list.active {
    transform: translateX(0);
    opacity: 1;
}
.sst {
    padding: 30px 0;
}
.service {
    padding: 30px 0;
}
#sst {
    background-color: var(--color-1);
    
}
.carrossel {
    align-items: center;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    width: 1200px;
}
.container {
    display: flex;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
}
img {
    object-fit: cover;
    height: 500px;
    width: 1200px;
}